<div class="container" style="margin: 0 auto; max-width: 1440px">
  <h1>List of Subjects for IT</h1>

  <h2 class="text-center m-5">First Year</h2>

  <div class="wrapper d-flex row justify-content-between gap-2">
    <div class="table__container">
      <h3 class="text-center">First Semester</h3>
      <table class="table mt-3">
        <thead>
          <tr>
            <th scope="col">Subject Code</th>
            <th scope="col">Descriptive Title</th>
            <th scope="col">Units</th>
            <th scope="col">Pre-requisite</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">IT110</th>
            <td>Introduction to Computing</td>
            <td>3</td>
            <td>-</td>
          </tr>
          <tr>
            <th scope="row">IT111</th>
            <td>Computer Programming 1</td>
            <td>3</td>
            <td>-</td>
          </tr>
          <tr>
            <th scope="row">IT VG</th>
            <td>Visual Graphics</td>
            <td>3</td>
            <td>-</td>
          </tr>
          <tr>
            <th scope="row">UTS</th>
            <td>Understanding the Self</td>
            <td>3</td>
            <td>-</td>
          </tr>
          <tr>
            <th scope="row">MathWorld</th>
            <td>Math in the Modern World</td>
            <td>3</td>
            <td>-</td>
          </tr>
          <tr>
            <th scope="row">Fil 1</th>
            <td>Retorika</td>
            <td>3</td>
            <td>-</td>
          </tr>
          <tr>
            <th scope="row">PATHFIT 1</th>
            <td>Wellness & Fitness</td>
            <td>2</td>
            <td>-</td>
          </tr>
          <tr>
            <th scope="row">NSTP 1</th>
            <td>National Service Training Prog. 1</td>
            <td>3</td>
            <td>-</td>
          </tr>
          <tr>
            <th scope="row">MathPrep</th>
            <td>Pre Calculus for Non-STEM</td>
            <td>3</td>
            <td>-</td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td>TOTAL</td>
            <td>26</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="table__container">
      <h3 class="text-small text-center">Second Semester</h3>
      <table class="table mt-3">
        <thead>
          <tr>
            <th scope="col">Subject Code</th>
            <th scope="col">Descriptive Title</th>
            <th scope="col">Units</th>
            <th scope="col">Pre-requisite</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">IT120</th>
            <td>Discrete Structures</td>
            <td>3</td>
            <td>MathPrep</td>
          </tr>
          <tr>
            <th scope="row">IT121</th>
            <td>Computer Programming II</td>
            <td>3</td>
            <td>IT111</td>
          </tr>
          <tr>
            <th scope="row">IT123</th>
            <td>PC Assembly & Troubleshooting</td>
            <td>3</td>
            <td>IT110</td>
          </tr>
          <tr>
            <th scope="row">HIST</th>
            <td>Reading in Philippines History</td>
            <td>3</td>
            <td>-</td>
          </tr>
          <tr>
            <th scope="row">PurCom</th>
            <td>Purposive Communication</td>
            <td>3</td>
            <td>-</td>
          </tr>
          <tr>
            <th scope="row">Fil 2</th>
            <td>Panitikan ng Pilipinas</td>
            <td>3</td>
            <td>Fil 1</td>
          </tr>
          <tr>
            <th scope="row">PATHFIT 2</th>
            <td>Self Defense</td>
            <td>2</td>
            <td>PE 1</td>
          </tr>
          <tr>
            <th scope="row">NSTP 2</th>
            <td>National Service Training Prog. 2</td>
            <td>3</td>
            <td>NSTP 1</td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td>TOTAL</td>
            <td>23</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
