<div class="" style="margin: 0 auto; max-width: 1440px">
  <h1>List of Subjects for IT</h1>

  <h2 class="text-center m-5">Fourth Year</h2>

  <div class="wrapper d-flex row justify-content-between gap-2">
    <div class="table__container">
      <h3>First Semester</h3>
      <table class="table mt-3">
        <thead>
          <tr>
            <th scope="col">Subject Code</th>
            <th scope="col">Descriptive Title</th>
            <th scope="col">Units</th>
            <th scope="col">Pre-requisite</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">IT410</th>
            <td>Capstone Project II</td>
            <td>3</td>
            <td>IT323</td>
          </tr>
          <tr>
            <th scope="row">IT411</th>
            <td>Integrative Programming & Technologies</td>
            <td>3</td>
            <td>IT321</td>
          </tr>
          <tr>
            <th scope="row">IT 412</th>
            <td>System Administration & Maintenance</td>
            <td>3</td>
            <td>IT324</td>
          </tr>
          <tr>
            <th scope="row">ITELEC3</th>
            <td>IT Elective III</td>
            <td>3</td>
            <td>ITELEC2</td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td>TOTAL</td>
            <td>15</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="table__container">
      <h3 class="text-small">Second Semester</h3>
      <table class="table mt-3">
        <thead>
          <tr>
            <th scope="col">Subject Code</th>
            <th scope="col">Descriptive Title</th>
            <th scope="col">Units</th>
            <th scope="col">Pre-requisite</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">IT420</th>
            <td>IT Seminars & Tours</td>
            <td>3</td>
            <td>-</td>
          </tr>
          <tr>
            <th scope="row">OJT</th>
            <td>On The Job Training (500 Hours)</td>
            <td>6</td>
            <td>Have taken all subjects</td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td>TOTAL</td>
            <td>9</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
