<div class="pt-4 px-4 container">
  <div class="">
    <h1>IT Schedule</h1>
    <p>This section can only be accessed by administrators.</p>
  </div>
  <div>
    <!-- <button (click)="makePDF()" class="btn btn-primary">
        Download Schedule
      </button> -->
  </div>
</div>
<div class="mt-5">
  <jqxScheduler
    #schedulerReference4
    [date]="date"
    [height]="2200"
    [width]="1300"
    [source]="dataAdapter"
    [showLegend]="true"
    [view]="'weekView'"
    [appointmentDataFields]="appointmentDataFields"
    [resources]="resources"
    [views]="views"
    style="margin: 0 auto"
  >
  </jqxScheduler>
</div>
