<div class="container" style="margin: 0 auto; max-width: 1440px">
  <h1>List of Subjects for IT</h1>

  <h2 class="text-center m-5">2nd Year</h2>

  <div class="wrapper m-3 d-flex row justify-content-between gap-2">
    <div class="table__container">
      <h3 class="text-center">First Semester</h3>
      <table class="table mt-3">
        <thead>
          <tr>
            <th scope="col">Subject Code</th>
            <th scope="col">Descriptive Title</th>
            <th scope="col">Units</th>
            <th scope="col">Pre-requisite</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">IT210</th>
            <td>Data Structures & Algorithms</td>
            <td>3</td>
            <td>IT120</td>
          </tr>
          <tr>
            <th scope="row">IT211</th>
            <td>Web Design & Development</td>
            <td>3</td>
            <td>IT 121</td>
          </tr>
          <tr>
            <th scope="row">IT212</th>
            <td>Digital Logic Design</td>
            <td>3</td>
            <td>IT 120</td>
          </tr>
          <tr>
            <th scope="row">IT 221</th>
            <td>Networking</td>
            <td>3</td>
            <td>IT 110</td>
          </tr>
          <tr>
            <th scope="row">CW</th>
            <td>The Contemporary World</td>
            <td>3</td>
            <td>-</td>
          </tr>
          <tr>
            <th scope="row">ArtApp</th>
            <td>Art Appreciation</td>
            <td>3</td>
            <td>-</td>
          </tr>
          <tr>
            <th scope="row">PATHFIT 3</th>
            <td>Individual/Dual Sports</td>
            <td>2</td>
            <td>PE 2</td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td>TOTAL</td>
            <td>20</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="table__container">
      <h3 class="text-small text-center">Second Semester</h3>
      <table class="table mt-3">
        <thead>
          <tr>
            <th scope="col">Subject Code</th>
            <th scope="col">Descriptive Title</th>
            <th scope="col">Units</th>
            <th scope="col">Pre-requisite</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">IT220</th>
            <td>Object-Oriented Programming</td>
            <td>3</td>
            <td>IT210</td>
          </tr>
          <tr>
            <th scope="row">IT 320</th>
            <td>System Analysis & Design</td>
            <td>3</td>
            <td>IT 223</td>
          </tr>
          <tr>
            <th scope="row">IT 222</th>
            <td>Database Management</td>
            <td>3</td>
            <td>IT 210</td>
          </tr>
          <tr>
            <th scope="row">PATHFIT 4</th>
            <td>Team Sports</td>
            <td>2</td>
            <td>PE 3</td>
          </tr>
          <tr>
            <th scope="row">ACCTG</th>
            <td>Fundamentals of Accounting</td>
            <td>6</td>
            <td>-</td>
          </tr>
          <tr>
            <th scope="row">STS</th>
            <td>Science, Technology & Society</td>
            <td>3</td>
            <td>-</td>
          </tr>
          <tr>
            <th scope="row">Ethics</th>
            <td>Ethics</td>
            <td>3</td>
            <td>-</td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td>TOTAL</td>
            <td>23</td>
            <td></td>
          </tr>
        </tbody>
      </table>

      <div class="table__container">
        <h3 class="justify-content-center text-center">Summer</h3>
        <table class="table mt-3">
          <thead>
            <tr>
              <th scope="col">Subject Code</th>
              <th scope="col">Descriptive Title</th>
              <th scope="col">Units</th>
              <th scope="col">Pre-requisite</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">IT 223</th>
              <td>Information Management</td>
              <td>3</td>
              <td>IT 222</td>
            </tr>

            <tr>
              <th scope="row">ITTEL 1</th>
              <td>IT Track Elective</td>
              <td>3</td>
              <td>3rd Year Level</td>
            </tr>

            <tr>
              <th scope="row">FILIT</th>
              <td>The Philippine Society in the IT Era</td>
              <td>3</td>
              <td>-</td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td>TOTAL</td>
              <td>9</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
