<div class="container" style="margin: 0 auto; max-width: 1440px;">
  <h1>List of Subjects for IT</h1>

  <h2 class="text-center m-5">Third Year</h2>

  <div class="wrapper d-flex col justify-content-between gap-2">
    <div class="table__container">
      <h3>First Semester</h3>
      <table class="table mt-3">
        <thead>
          <tr>
            <th scope="col">Subject Code</th>
            <th scope="col">Descriptive Title</th>
            <th scope="col">Units</th>
            <th scope="col">Pre-requisite</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">IT 310</th>
            <td>Applications Development and Emerging Technologies</td>
            <td>3</td>
            <td>IT 220</td>
          </tr>
          <tr>
            <th scope="row">IT 311</th>
            <td>Operating Systems</td>
            <td>3</td>
            <td>IT 221</td>
          </tr>
          <tr>
            <th scope="row">IT 312</th>
            <td>Human Computer Interaction</td>
            <td>3</td>
            <td>IT 220</td>
          </tr>
          <tr>
            <th scope="row">IT ELEC 1</th>
            <td>IT ELECTIVE 1</td>
            <td>3</td>
            <td>3rd Year Level</td>
          </tr>
          <tr>
            <th scope="row">ITTEL2</th>
            <td>IT Track Elective II</td>
            <td>3</td>
            <td>ITTEL 1</td>
          </tr>
          <tr>
            <th scope="row">TECHNO</th>
            <td>Technopreneurship</td>
            <td>3</td>
            <td>-</td>
          </tr>
          <tr>
            <th scope="row">STAT</th>
            <td>Statistics & Probability</td>
            <td>3</td>
            <td>MATH Prep</td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td>TOTAL</td>
            <td>23</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="table__container">
      <h3 class="text-small">Second Semester</h3>
      <table class="table mt-3">
        <thead>
          <tr>
            <th scope="col">Subject Code</th>
            <th scope="col">Descriptive Title</th>
            <th scope="col">Units</th>
            <th scope="col">Pre-requisite</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">ITELEC 2</th>
            <td>IT Elective II</td>
            <td>3</td>
            <td>IT Elec 1</td>
          </tr>
          <tr>
            <th scope="row">IT 321</th>
            <td>Information Assurace & Security</td>
            <td>3</td>
            <td>IT 310</td>
          </tr>
          <tr>
            <th scope="row">IT 322</th>
            <td>Systems Integration & Architecture</td>
            <td>3</td>
            <td>3rd Year Level</td>
          </tr>
          <tr>
            <th scope="row">MMG</th>
            <td>Marketing Media Gamification</td>
            <td>3</td>
            <td>-</td>
          </tr>
          <tr>
            <th scope="row">STAT</th>
            <td>Statistics & Probability</td>
            <td>3</td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">RIZAL</th>
            <td>Rizal Lifes & Works</td>
            <td>3</td>
            <td></td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td>TOTAL</td>
            <td>18</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="wrapper m-3 d-flex col justify-content-center">
    <div class="table__container">
    <h3 class="justify-content-center">Summer</h3>
    <table class="table mt-3">
      <thead>
        <tr>
          <th scope="col">Subject Code</th>
          <th scope="col">Descriptive Title</th>
          <th scope="col">Units</th>
          <th scope="col">Pre-requisite</th>
        </tr>
      </thead>
        <tbody>
          <tr>
            <th scope="row">IT 323</th>
            <td>Capstone Project I</td>
            <td>3</td>
            <td>4th Year Level</td>
          </tr>


          <tr>
            <th scope="row">IT 324/th>
            <td>Social Issues ad Professional Practices</td>
            <td>3</td>
            <td>4th Year Level</td>
          </tr>

          <tr>
            <th scope="row">IT 325</th>
            <td>Quantitative Methods</td>
            <td>3</td>
            <td>STAT</td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td>TOTAL</td>
            <td>9</td>
            <td></td>
          </tr>
        </tbody>
        </table>
      </div>
</div>

</div>