<div class="container">
  <h1>Prospectus</h1>
  <p>You're logged in with Benedicto College Scheduling.</p>
</div>

<div class="container text-center mt-5">
  <div class="row gap-4">
    <div class="col card p-0" style="width: 18rem">
      <img
        src="https://mis.benedictocollege.edu.ph/assets/bene-school-815be6299a10bcc76c09c819b5a1f49beb216565f77ba611270de3b63f1b33f6.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">First Year</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a routerLink="1st-year" class="btn btn-primary text-light">View</a>
      </div>
    </div>

    <div class="col card p-0" style="width: 18rem">
      <img
        src="https://mis.benedictocollege.edu.ph/assets/bene-school-815be6299a10bcc76c09c819b5a1f49beb216565f77ba611270de3b63f1b33f6.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Second Year</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a routerLink="2nd-year" class="btn btn-primary text-light">View</a>
      </div>
    </div>
    <div class="col card p-0" style="width: 18rem">
      <img
        src="https://mis.benedictocollege.edu.ph/assets/bene-school-815be6299a10bcc76c09c819b5a1f49beb216565f77ba611270de3b63f1b33f6.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Third Year</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a routerLink="3rd-year" class="btn btn-primary text-light">View</a>
      </div>
    </div>
    <div class="col card p-0" style="width: 18rem">
      <img
        src="https://mis.benedictocollege.edu.ph/assets/bene-school-815be6299a10bcc76c09c819b5a1f49beb216565f77ba611270de3b63f1b33f6.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Fourth Year</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a routerLink="4th-year" class="btn btn-primary text-light">View</a>
      </div>
    </div>
  </div>
</div>
