<div class="container-fluid">
  <div class="row">
    <div class="col-5">
      <div class="mx-5">
        <div class="mb-3">
          <img
            src="https://benedicto.octanity.net/lms/pluginfile.php/1/core_admin/logo/0x200/1707970871/bc_logo.jpeg"
            alt="benedicto college logo"
            style="width: 100px; height: 100px; margin-top: 2rem"
          />
        </div>
        <div>
          <h3 class="card-header mt-5 fs-1">Hello,</h3>
          <h3 class="fw-bold fs-1 welcome">welcome!</h3>
        </div>
        <div class="card-body mt-5">
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label>Username</label>
              <input
                type="text"
                formControlName="username"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
              />
              <div
                *ngIf="submitted && f.username.errors"
                class="invalid-feedback"
              >
                <div *ngIf="f.username.errors.required">
                  username is required
                </div>
                <div *ngIf="f.username.errors.username">
                  username is invalid
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Password</label>
              <input
                type="password"
                formControlName="password"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
              />
              <div
                *ngIf="submitted && f.password.errors"
                class="invalid-feedback"
              >
                <div *ngIf="f.password.errors.required">
                  Password is required
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col">
                <button [disabled]="loading" class="btn btn-primary">
                  <span
                    *ngIf="loading"
                    class="spinner-border spinner-border-sm mr-1"
                  ></span>
                  Login
                </button>
                <!-- <a routerLink="../register" class="btn btn-link">Register</a> -->
              </div>
              <div class="form-group col text-right">
                <!-- <a routerLink="../forgot-password" class="btn btn-link pr-0"
                  >Forgot Password?</a
                > -->
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col bg-section"></div>
  </div>
</div>
